/*
 * Raman Marozau, 2019
 */

.Technologies {
    display: flex;
}

.Technologies__MainTopicsList {
    border-right: 2px solid #065a9654;
    border-radius: 0;
    height: 100vh;
    overflow: auto;
    min-width: 400px;
}